* {
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header_container {
	background-color: #f1b5b8;
	border: 2px solid #e68387;
}
.logo_principal {
	text-align: center;
	font-size: 60px;
	padding: 10px;
}
.nav_menu {
	text-align: center;
	padding: 10px;
}
a {
	text-decoration: none;
}
.menu_navegacion {
	display: inline-block;
	color: black;
	padding: 10px 10px;
	border-bottom: 2px solid black;
	&:hover {
		background: #a35559;
		color: white;
	}
}
table {
	border: 1px solid black;
	width: 45%;
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}
th {
	border: 1px solid black;
}
td {
	border: 1px solid black;
}
h2 {
	text-align: center;
	color: black;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
li {
	list-style-type: none;
}
.about_us_article {
	background-color: #f1b5b8;
	margin: 50px;
	padding: 6px;
	border-radius: 20px;
}
.about_us {
	margin: 30px;
	text-align: center;
}
.footer {
	background-color: #f1b5b8;
	border: 2px solid #e68387;
	padding: 10px;
}
.footer_logo {
	font-size: 25px;
	padding: 7px;
	text-align: center;
}
.p_footer {
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
}
.imagenes_productos {
	margin: 25px;
	img {
		display: inline-block;
		margin: 5px;
		border: 2px solid #a35559;
		max-width: 98%;
	}
}
h3 {
	padding: 10px;
	text-align: center;
}
.texto_productos {
	padding: 10px;
	text-align: center;
}
.texto_tratamientos {
	padding: 10px;
	text-align: center;
}
.texto_contacto {
	padding: 10px;
	text-align: center;
}
form {
	width: 400px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}
input {
	width: 100%;
	margin-bottom: 15px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: 1px solid black;
}
textarea {
	width: 100%;
	margin-bottom: 15px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: 1px solid black;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
#boton_form {
	background: #e68387;
	&:hover {
		background: #a35559;
		color: white;
		cursor: pointer;
	}
}
@media (max-width:480px) {
	form {
		width: 100%;
	}
}
